.bannerImg{
	width: 90%;
}

.fontH1{
	font-family: Aideep;
	font-size:20px;
	text-align: center;
	color: rgb(64,64,64);
	letter-spacing:2px;
	margin: 20px auto;
}

.iconImg{
	height: 30px;
}

.fruitImg{
	width: 80px;
}

.fruitData{
	font: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	letter-spacing:1px;
	color: rgb(64,64,64);
}

.fruitMoney{
	margin-left: 20px;
}

.fruitCycle{
	font: "微软雅黑";
	font-size: 10px;
	font-weight: bold;
	letter-spacing:1px;
	color:darkgray;
}

.fruitOutput{
	color: rgb(32,155,143);
}

.fruitMessage{
	margin:16px 20px;
	border: 1px solid lightgray;
	padding:8px 0px;
	border-radius: 5px;
}

#addNewTreeTable td{
	padding:10px 20px;
}

.Btn{
	background: rgb(64,64,64);
	border: 0px;
	color: white;
	width: 60px;
	height: 40px;
	font-size: 19px;
	font: "微软雅黑";
	border-radius: 5px;
}
